<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/jdbc
    http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
    http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache.xsd">

	<context:annotation-config />
	<context:component-scan base-package="org.bcos" />
	
	<!-- database and amdb node properties configuration-->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="locations">  
           <list>  
              <value>classpath:db.properties</value>  
              <value>classpath:amdb.properties</value>  
            </list>  
        </property>  
    </bean> 

	<!-- mybatis configuration -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="org.bcos.amdb.dao" />
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath:/mappers/*.xml" />
	</bean>
	
	<!-- AMOP configuration -->
	<bean id="DBChannelService" class="org.bcos.channel.client.Service">
		<property name="connectSeconds" value="3600" /> <!-- The time to wait for the connection node before starting -->
		<property name="orgID" value="WB" />
		<property name="allChannelConnections">
			<map>
				<entry key="WB">
					<bean class="org.bcos.channel.handler.ChannelConnections">
						<property name="caCertPath" value="classpath:ca.crt" />
						<property name="clientKeystorePath" value="classpath:client.keystore" />
						<property name="keystorePassWord" value="${keystorePassWord}" />
						<property name="clientCertPassWord" value="${clientCertPassWord}" />
						<property name="connectionsStr">
							<list>
								<value>WB@${node.ip}:${node.listen_port}</value>
							</list>
						</property>
					</bean>
				</entry>
			</map>
		</property>
		<!-- communication topic configuration of the node -->
		<property name="topics">
			<list>
				<value>${node.topic}</value>
			</list>
		</property>
		<property name="pushCallback" ref="DBHandler"/>
	</bean>
	
	<bean id="DBService" class="org.bcos.amdb.service.DBService" init-method="initTables">
	</bean>

	<!-- database connection configuration -->
	 <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://${db.ip}:${db.port}/${db.database}?characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull" />
		<property name="username" value="${db.user}" />
		<property name="password" value="${db.password}" />
	</bean>
</beans>